* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html a {
  scroll-behavior: smooth;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;


}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
}

.welcome {
  background-color: #faf5f5;
  width: 100%;
  height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

.main-header {
  min-height: 15vh;
  border-bottom: 1px solid #f3f3f3;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.main-footer {
  font-family: "Poppins", sans-serif;
  background-color: white;
  position: relative;
  width: 100%;
  height: 120px;
  border-top: 1px solid #f3f3f3;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: 0;
  margin-right: 5px;
  margin-top: 0.75rem;
  width: 15%;
}

.footer-nav a {
  text-decoration: none;
  padding: 1rem;
}

.social-link img {
  width: 1.25em;
  margin-right: 1.25em;
}

.logo-and-name,
.arrow-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}

.arrow-left {
  margin-left: 1.5rem;
  position: fixed;
}

.logo {
  margin-left: 1.5rem;
  padding: 0;
  position: relative;
  bottom: 0.25rem;
}

.page-name,
.page-name-ian,
.load-name {
  align-items: center;
  color: #1f6cb0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: bolder;
  margin-left: 0.75rem;
  cursor: pointer;
}

.page-name-ian {
  letter-spacing: 10px;
  font-weight: 1000;
}

.preload {
  background-color: #212a53;
}

.load-name {
  position: absolute;
  margin: auto;
  font-family: sans-serif;
  font-size: 22px;
  top: 30%;
  margin-left: 0.5rem;
  color: white;
}

.eye-load {
  height: 170px;
  position: absolute;
  top: 15%;
}

.eye-lid {
  height: 50px;
  position: absolute;
  top: 13.5%;
}

.arrow {
  position: absolute;
  top: 41%;
  animation: flow 0.75s infinite alternate;
}

.arrow img {
  height: 30px;
  transition: 1s linear;
}

@keyframes flow {
  from {
    opacity: 100%;
    transform: translateY(0);
  }

  to {
    opacity: 0%;
    transform: translateY(100%);
  }
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 0.25rem;
}

.nav-link a {
  color: #1f6cb0;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
}

.page-name-ian:hover,
.nav-link a:hover {
  color: #3AAE95;
}

.nav-link li {
  list-style: none;
  margin-right: 1rem;
}

.nav-link ul {
  margin-right: 1rem;
}

.nav-link #btn {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1.5px solid #1f6cb0;
  text-decoration: none;
  position: relative;
  color: #1f6cb0;
}

.nav-link #btn:hover {
  border: 1.5px solid #3AAE95;
  color: #3AAE95;
}

.preload {
  position: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  fill: grey;
}

.tool #A8:hover{
  fill: red;

}

.cmrj {
  width: 450px
  ;
}

.content-wrap {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 1em;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    width: 50%;
    transition: 0.25s;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-link {
    position: absolute;
    right: 0;
    height: 12.5vh;
    width: 100%;
    top: 12.5vh;
    background-color: #991a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link li {
    margin-right: 0;
    margin: auto;
  }

  .nav-active #btn:hover {
    border-bottom: none;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .article {
    display: flex;
    flex-direction: column;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.wrapper {
  height: calc(100% - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;
  padding-bottom: 47.5px;
}

.ender{
  background-color: white;
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vermais{
  background-color: #1f6cb0;
  color: white;
  border: 1px solid #1f6cb0;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  text-decoration: none;  
  text-align: center;
}

.vermais:hover{
  background-color: white;
  color: #1f6cb0;
  border: 1px solid #1f6cb0;
  transition: ease-in-out .25s;
}

.up img {
  position: absolute;
  bottom: 140px;
  right: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  background-color: #1f6cb0;
  z-index: 2;
  transform: rotate(90deg);
}

.opener{
  background-color:white;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.opener h2{
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
}

.opener div{
  width: 35%;
  height: 1.5px;
  background-color: #dedede;
  border-radius: 20px;
}

.article1,
.article2 {
  height: calc(50vh - 5rem);
  max-width: 90%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article1 img{
  display: flex;
  height: calc(50vh - 5rem);
  width: 300px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
}

.article2 img{
  display: flex;
  height: calc(50vh - 5rem);
  width: 300px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.content{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 2rem;


}

.content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.content h2:hover{
  color: #3AAE95;
  cursor: pointer;
  transition: ease-in-out .1s;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  font-weight: 200;
  padding-top: 1rem;
  
}

.content a{
  color: black;
  font-size: 12.5px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  border: .5px solid #dedede;
  border-radius: 100px;
  padding: .75rem 2.5rem;
}

.content a:hover{
  color: #1f6cb0;
  border: .5px solid #1f6cb0;
}

.actions-vertical{
  list-style: none
}

.projetos{
  background-color: white ;
  height: 75vh;
  width: 90%;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.projeto1,
.projeto2,
.projeto3{
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border-radius: .5rem;
  height: 55vh;
  width: 300px;
  perspective: 800px;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.projeto1,
.projeto3{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #e9e9e9;
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 2.5px;
  font-size: 32px;
}

.zone1:hover .projeto2{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.front {
  background-color: #212a53;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  height: 55vh;
  width: 300px;
  border-radius: .5rem;

}

.front img{
  height: 50vh;
  width: 250px;
  border-radius: .5rem;
}

.back {
  z-index: 1;
  background-color: white;
  height: 55vh;
  width: 300px;
  border-radius: .5rem;
  padding: 2rem;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.back h2,
.back h3{
  color: #1f6cb0;
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  letter-spacing: 8px;
  margin-top: 1.5rem;
}

.back h3{
  margin-top: .5rem
  ;
}

.back p{
  text-align: justify;
  font-size: 14px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  margin-top: 2rem;
}


.sobre,
.contato{
  background-color: white;
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
}

.content-sobre,
.content-contato{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-sobre h2,
.content-contato h2{
  font-size: 40px;
}

.p1{
  padding-bottom: 1rem;
}

.p2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cv{
  padding-left: 350px;
  padding-right: 350px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.cv #cv:hover{
  color: #3AAE95;
  cursor: pointer;
}

.cv #lt:hover{
  color: #3AAE95;
  cursor: pointer;
}

.language{
  height: 50px;
  background-color:#faf5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 1.75rem;

}

.language img{
  height: 30px;
  margin: 5px;
}

.language #us{
  filter: grayscale(100%);
}

.language #us:hover{
  filter: grayscale(0%);
}

.language #br2{
  filter: grayscale(100%);
}

.language #br2:hover{
  filter: grayscale(0%);
}
