* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
}

.welcome {
  background-color: white;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

.main-header {
  min-height: 15vh;
  border-bottom: 1px solid #f3f3f3;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.main-footer {
  font-family: "Poppins", sans-serif;
  background-color: white;
  position: relative;
  width: 100%;
  height: 120px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: 0;
  margin-right: 5px;
  margin-top: 0.75rem;
  width: 15%;
}

.footer-nav a {
  text-decoration: none;
  padding: 1rem;
}

.social-link img {
  width: 1.25em;
  margin-right: 1.25em;
}

.logo-and-name,
.arrow-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}

.arrow-left {
  margin-left: 1.5rem;
  position: fixed;
}

.logo {
  margin-left: 1.5rem;
  padding: 0;
  position: relative;
  bottom: 0.25rem;
}

.page-name,
.page-name-ian,
.load-name {
  align-items: center;
  color: #1f6cb0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: bolder;
  margin-left: 0.75rem;
  cursor: pointer;
}

.page-name-ian {
  letter-spacing: 10px;
  font-weight: 1000;
}

.preload {
  background-color: #212a53;
}

.load-name {
  position: absolute;
  margin: auto;
  font-family: sans-serif;
  font-size: 22px;
  top: 30%;
  margin-left: 0.5rem;
  color: white;
}

.eye-load {
  height: 170px;
  position: absolute;
  top: 15%;
}

.eye-lid {
  height: 50px;
  position: absolute;
  top: 13.5%;
}

.arrow {
  position: absolute;
  top: 41%;
  animation: flow 0.75s infinite alternate;
}

.arrow img {
  height: 30px;
  transition: 1s linear;
}

@keyframes flow {
  from {
    opacity: 100%;
    transform: translateY(0);
  }

  to {
    opacity: 0%;
    transform: translateY(100%);
  }
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 0.25rem;
}

.nav-link a {
  color: #1f6cb0;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
}

.nav-link a:hover {
  color: #3AAE95;
}

.nav-link li {
  list-style: none;
  margin-right: 1rem;
}

.nav-link ul {
  margin-right: 1rem;
}

.nav-link #btn {
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1.5px solid #1f6cb0;
  text-decoration: none;
  box-shadow: rgb(0, 50, 99);
  position: relative;
  color: #1f6cb0;
}

.nav-link #btn:hover {
  border-bottom: solid #1f6cb0;
  bottom: 15%;
}
.nav-link #btn:active {
  border-bottom: none;
  top: 2.5%;
  transition: 2s;
}

.preload {
  position: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  fill: grey;
}

.tool #A8:hover{
  fill: red;
}

.cmrj {
  width: 450px
  ;
}

.content-wrap {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 1em;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    width: 50%;
    transition: 0.25s;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-link {
    position: absolute;
    right: 0;
    height: 12.5vh;
    width: 100%;
    top: 12.5vh;
    background-color: #991a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link li {
    margin-right: 0;
    margin: auto;
  }

  .nav-active #btn:hover {
    border-bottom: none;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .article {
    display: flex;
    flex-direction: column;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.welcome {
  width: 100%;
  height: 700px;
  border-bottom: 1px solid #f3f3f3;
}


.opener {
  background-color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper {
  height: calc(100% - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;
  padding-bottom: 47.5px;
}

.vermais {
  align-content: center;
  justify-content: center;
  background-color: #212a53;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  font-weight: 200;
  color: white;
  border: 1.5px solid white;
  text-decoration: none;
}

.vermais:hover {
  background-color: white;
  color: #212a53;
  transition: ease-in 0.25s;
}

.up img {
  position: absolute;
  bottom: 90px;
  right: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  background-color: #212a53;
  z-index: 2;
  transform: rotate(90deg);
}

.article-end {
  border-bottom: 1px solid #f3f3f3;
}

.article,
.article-end {
  max-height: 400px;
  min-width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #f3f3f3;
}

.article-image img{
  display: flex;
  height: 300px;
  width: 400px;
}

.content{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

}

.content h2 {
  font-family: "Poppins", sans-serif;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
}

.content a{
  color: black;
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  border: 1px solid #f3f3f3;
  border-radius: 100px;
  padding: .75rem 2.5rem;
}

.content a:hover{
  color: #1f6cb0;
  border: 1px solid #1f6cb0;
}

.actions-vertical{
  list-style: none
}

.sobre{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
}

.content-sobre{
  font-family: "Poppins", sans-serif;
}

.language{
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 1.75rem;

}

.language img{
  height: 30px;
  margin: 5px;
}

.language #us{
  filter: grayscale(100%);
}

.language #us:hover{
  filter: grayscale(0%);
}

.language #br2{
  filter: grayscale(100%);
}

.language #br2:hover{
  filter: grayscale(0%);
}
